* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  }

    body{background-color: black; color: white; font-family: Roboto, sans-serif;}
    
    main {max-width: 800px;
         margin: 0 auto;
        }
         
    .Info{ position: relative;
            display: grid;
            width: 100%;
            justify-items: center;
            grid-template-columns: minmax(300px, 2fr);
            grid-template-rows:100px 150px;
            border-bottom: 1px solid #ddd;
            padding: 20px;
            overflow: hidden;
        gap: 15px;}
            
        .Info h1{font-size: 60px;}
        .Info p {font-size: 25px;}

    .Projects{ position: relative;
            display: grid;
            width: 100%;
            place-items: center;
            grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
            grid-template-rows:200px;
            border-bottom: 1px solid #ddd;
            padding: 20px;
            overflow: hidden;}

    .atm-card { width: fit-content;
                height: 150px;
                display: grid;
                justify-content: center;
                place-items: center;
                background-color: gray;
                border-radius: 5%;
                }

    .food-card { width: fit-content;
        height: 150px;
                display: grid;
                justify-content: center;
                align-items: center;
                background-color: gray;
                border-radius: 5%;
                }

    .atm-card img {padding:2% 2px;}
    .atm-card p {padding-left: 12px;}

    .food-card img {padding:2% 2px;}
    .food-card p {padding-left: 12px;}
    
    footer .barra-footer{
    background-color: gray;
    text-align: center;
    padding: 20px 15px;}

footer .logo-footer{
    width: 150px;
height: 90%;}

footer p{
    color: white;
    text-align: center;}

footer ul{
    padding-left: 0;
    list-style: none;
    margin: 0;}

footer ul li{
    margin-bottom: 7px;}

footer .redess{
    font-size: 40px;
    display: flex;}

footer .redess a {
    margin: 0 7.5px;
    color: red;}

footer .linlex{
    margin-left: 20%;
    text-decoration: none;
    color: red;}

.seccion{
        padding-top: 60px;
        padding-bottom: 60px;}
    
.container{
        max-width: 850px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;          /* ancho de los containers*/ 
        margin: 0 auto;         /* margen 0 arriba y abajo, auto a los lados*/
        padding-left: 15px;
        padding-right: 15px;
        position: relative;}

.planet{display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px  auto;
    justify-items: center;
    padding-bottom: 8px;}

.contact{display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
    gap: 30px;}

.redes{display: grid;
        grid-template-columns: auto;
        grid-template-rows:auto 1fr;
        gap: 30px;}

@media screen and (max-width:668px){
.Info{grid-template-rows: 40px 20px;}
.Info h1{font-size: 25px;}
.Info p {font-size: 14px;}
.Projects{grid-template-columns: auto;
    grid-template-rows:150px 150px;
         gap: 12px;}

.planet {display: none;}
.container{max-width: 400px;
    grid-template-columns: 1fr 1fr;
            place-content: center;
            place-items: center;}
.contact {place-items: center;
            height: 150px;
            gap: 4px;}
.contact li{font-size: 12px;}
.redes {place-items: center;
    height: 150px;
    gap: 4px;}
    }
